.page[b-dtk43i1d9q] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-nav[b-dtk43i1d9q] {
    position: sticky;
    top: 0;
    z-index: 1030;
    margin-bottom: 2rem;
    border-radius: 0 0 12px 12px;
}

main[b-dtk43i1d9q] {
    flex: 1;
}

article[b-dtk43i1d9q] {
    padding-bottom: 2rem;
}
