@inherits LayoutComponentBase

<div class="page">
    <header class="top-nav glass-panel">
        <NavMenu />
    </header>

    <main class="container">
        <article class="content">
            @Body
        </article>
    </main>

    <GoodHamburger.Web.Components.ToastNotification />
</div>
